#home{
    background: url("https://1.bp.blogspot.com/-DuRtgmaUhIk/YGFXVkyq3DI/AAAAAAAAIMQ/i80mKqCTfesgRpUd1V7QPmkJ6DEahRWLwCLcBGAsYHQ/s1920/biru-pastel.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 203%;
    color:white;
    height: 1000px;
}
.wrap-card{
  background-color: aliceblue;
  padding: 30px 20px 35px 20px;
}
.bg-card-1{
  background-color:khaki;
}
.bg-card-2{
  background-color:rgb(29, 202, 255);
}
.bg-card-3{
  background-color:rgb(123, 253, 123) ;
}
.bg-card-4{
  background-color:rgb(253, 121, 121) ;
}
.card h3{
  border-bottom-style: solid;
    margin: auto;
    width: 50%;
    border-color:whitesmoke;
    padding-bottom: 10px;
}
h3{
  border-bottom-style: solid;
    margin: auto;
    width: 55%;
    border-color:rgb(200, 132, 202);
    padding-bottom: 10px;
}
.nav-link{
  text-transform:uppercase;
  font-style: bold;
  margin-right: 20px;
  color: blueviolet;
}
.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid#0d6efd;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
